* {
    padding: 0;
    margin: 0;

}

.logo {

    display: flex;
    justify-content: center;


}

img {

    width: 60px;
    height: 60px;
    border-radius: 50%;


}

h1 {

    text-align: center;
    margin: 20px;
    color: #00000080;
}


.painel {

    background-color: #ffffff80;
    padding: 50px;
    border-radius: 10%;
    box-shadow: 2px 2px 1px 0px #00000080;

}

.container {
    max-width: auto;
    display: flex;
    justify-content: center;
    width: 100%;



}

body {

    background-image: url(img/background_1164217.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    margin-top: 100px;

}

.input-lb input {
    width: 10%;
    padding: 10px 5px;
    display: inline-block;
    border: 0;
    border-bottom: 1px solid #00000080;
    background-color: transparent;
    outline: none;
    outline-color: transparent;
    min-width: 280px;
    font-size: 10px;
    transition: all .3s ease-out;
    border-radius: 0;

}

.input-lb {


    position: relative;
    padding-top: 25px;
    margin-top: 5%;
    margin-bottom: 5%;

}

.input-lb input:focus {
    
    border-bottom: 2px solid #00000070;

}

.input-lb label {

    color: #00000070;
    pointer-events: none;
    position: absolute;
    top: 0;
    left: 0;
    margin-top: 13px;
    transition: all .3s ease-out;

}

.input-lb input:focus+label {

    font-size: 13px;
    margin-top: 0;


}


button {
    background-color: transparent;
    border-color: #00000070;
    color: #00000070;
    padding: 7px;
    font-weight: bold;
    font-size: 12px;
    margin-top: 10px;
    border-radius: 5px;
    cursor: pointer;
    outline: none;
    width: 100px;

}

button:hover {

    background-color: #4169E180;
    color: #ffffff;
    transition: all .5s ease-out;

}

hr {
    margin-top: 10%;
    margin-bottom: 10%;
    width: 70%;
    color: black;
    
}

a {

    text-decoration: none;
    font-size: 16px;
    transition: all .3s ease-out;
    color: black;
}

a:hover {

    color: #ffffff;

}

@media(max-width: 500px) {
    .container {
        min-width: 260px;
        display: flex;
        justify-content: center;
        width: 100%;



    }


}